*{
    font-family: 'JetBrains Mono';
}

body{
    margin: 50px;
}

form{
    border: 1px black solid;
    padding: 50px;
    background-color: #FFF3;
}

#nome-aluno{
    font-size: 1.6em;
    text-align: center;
    outline: none;

    border: 0px;
}


table{
    padding: 40px   ;
}

td{
    padding: 7px;
}

#headbar{
    font-size: 1.5em;
    font-weight: bold;
}